/**
 * @name bremu45 Discord Theme
 * @author bremu45
 * @authorLink https://2137.fun
 * @version 1.2
 * @description A simple dark theme made by bremu45 that has some features :) (Based on AmoledCord)
 * @source https://raw.githubusercontent.com/bremu45/bremu45amoled/main/bremu45.theme.css
 * @website https://2137.fun
*/

@import url("https://nyri4.github.io/Discolored/main.css");
@import url("https://luckfire.github.io/amoled-cord/src/support/compiled.css");

/*
Sorry for shit code but I don't care if someone will hate it :)
The most important thing in it is that it works :D
*/

:root { --sidebar-initial-width: 240px; }
.sidebar-1tnWFu {
    resize: horizontal;
    width: var(--sidebar-initial-width);
}
.sidebar-1tnWFu .channel-2QD9_O { max-width: unset; }
.bannerImage-3KhIJ6 { width: 100%; }

span.roleColor-nA7BqX::after {
    content: "";
    background: currentColor;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.07;
    left: 0;
    top: 0;
    border-radius: 164px;
    padding-right: 100px;
}

span.username-h_Y3Us::after {
    content: "";
    background: currentColor;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.11;
    left: 0;
    top: 0;
    border-radius: 7px;
}

span.username-h_Y3Us {
    padding-left: 5px;
    padding-right: 5px;
}

span.mention.wrapper-1ZcZW-.mention {
    border-radius: 7px;
}

.embed-hKpSrO {
    border-radius: 15px;
}

.wrapper-1HIH0j {
    border-radius: 15px;
}

.button-2b4VEQ {
    border-radius: 15px;
}

.icon-39rdLt {
    border-radius: 100%;
}

.button-1EGGcP{
    border-radius: 15px;
}

.item-1OdjEX {
    border-radius: 10px;
}

.layout-1qmrhw {
    border-radius: 100px;
}

.button-f2h6uQ {
    border-radius: 25px;
}

.modal-3Hrb0S {
    border-radius: 15px;
}

.membershipDialogHouse3-1E5AN4 {
    border-radius: 15px;
}

.info-1sUqUG {
    visibility: hidden;
}

.bd-addon-list .bd-addon-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 15px;
    overflow: hidden;
    background: var(--background-secondary);
}

.bd-addon-list .bd-footer .bd-links, .bd-addon-list .bd-footer .bd-links a, .bd-addon-list .bd-footer .bd-addon-button {
    display: flex;
    align-items: center;
    border-radius: 25px;
    margin-right: 5px;
}

.bd-button {
    border-radius: 15px;
}

.bd-search-wrapper {
    border-radius: 25px;
}

.scrollableContainer-15eg7h {
    border-radius: 20px;
}

.wrapper-2vIMkT {
    border-radius: 15px;
}

.menu-1QACrS {
    border-radius: 15px;
}

.noiseCancellationPopout-2-e5Xz {
    border-radius: 15px;
}

.container-1ILvLB {
    border-radius: 15px;
}

span.itemValue-1-Xx5h.height24-10aZdw {
    color: black;
    transition: 150ms;
    
}

span.itemValue-1-Xx5h.height24-10aZdw:hover {
    color: white;
}

.warning-RBGtx2 {
    border-radius: 25px;
}

.select-1Ia3hD {
    border-radius: 25px;
}

.container-1_EVMa {
    border-radius: 25px;
}

.modalSize-3WSXDU {
    border-radius: 25px;
}

.tile-3POX2m {
    transition-duration: 500ms;
}

.tile-3POX2m:hover {
    transform: scale(1.1);
}

.item-2idW98 {
    border-radius: 25px;
}

#bd-pub-li {
    visibility: hidden;
    height: 0px;
    width: 0px;
}

.input-2g-os5 {
    border-radius: 25px;
}

.root-g14mjS {
    border-radius: 15px;
}

.userPopout-2j1gM4 {
    border-radius: 15px;
}

.outer-VAWfYQ {
    border-radius: 25px;
}

.connectedAccount-1xKpli {
    border-radius: 25px;
}

.content-1gYQeQ {
    border-radius: 25px;
}

.role-2TIOKu {
    border-radius: 25px;
}

.searchBar-3TnChZ .searchBarComponent-3N7dCG {
    width: 100%;
    height: 28px;
    overflow: hidden;
    border-radius: 25px;
    background-color: var(--background-tertiary);
    -webkit-box-shadow: none;
    box-shadow: none;
    color: var(--text-muted);
    text-align: left;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    white-space: nowrap;
}

.input-3r5zZY {
    border-radius: 100px;
    text-align: center;
}

.container-x8Y1ix {
    border-radius: 100px;
}

.swatch-35F5kl, colorSwatch-3KbHGH {
    border-radius: 12px;
}

.theme-dark .colorPickerCustom-1swUKF {
    background: black;
    border-color: #202225;
    border-radius: 15px;
}

.theme-dark .searchBar-zdmu7v {
    background: #050505;
    border-radius: 15px;
}

.theme-dark .quickSelectPopout-2F0PXw {
    background: #050505;
    color: #f6f6f7;
    border-radius: 15px;
}

.messagesPopoutWrap-3zryHW, .browser-mnQ1T7, .settingCard-xZSDjS, .card-2EUiNF, .attachment-1PZZB2 {
    border-radius: 15px;
}

.searchBox-3IjAC1, .topPill-3DJJNV .item-3XjbnG, .container-2oNtJn, .rem-3kT9wc.botTag-7aX5WZ {
    border-radius: 25px;
}

span.headerBotTagWithNickname-3DNCuU.bot-XvK26D.botTagRegular-kpctgU.botTag-7aX5WZ.px-MnE_OR, .side-2ur1Qk .item-3XjbnG {
    border-radius: 25px;
}

.item-4m-12I, .deny-1GO6vI, .selected-3jieYB, .group-LWHoGI {
    border-radius: 25px;
    border: 0px solid 
        var(--background-tertiary);
}

.input-1nrc5P, .card-m7VgZ8 {
    border-radius: 25px;
}

.scrollbarGhostHairline-2LpzZ9 {
    border-radius: 15px;
}

.group-1_ptLP .flex-3BkGQD {
    border-radius: 25px;
    margin: 2px 2px 2px 2px;
}

.qualitySettingsContainer-2LjkfM {
    border: 0px solid 
        var(--background-tertiary);
}